@import '../../styles//colors.scss';

.sidebar {
  padding: 0 10px;
  max-width: 1440px;
  margin: 0 auto;
  .btnWrapper {
    margin: 36px 0;
    //background-color: $light-blue;
  }
  .dp{
    margin-top: 22px;
  }
}
