@import '../../styles//colors.scss';

.sidebar {
  padding: 0 10px;
  max-width: 1440px;

  .btnWrapper {
    margin: 25px 0;
  }
  .dp {
    margin-top: 22px;
    justify-content: flex-start;
  }
  @media (max-width: '847px') {
    display: flex;
    .btnsWrapper {
      margin-left: 30px;
    }
  }
  @media (max-width: '565px') {
    display: block;
    margin: 0 auto;
    .btnsWrapper {
      margin-left: 0;
    }
  }
}
