@import '../../styles/colors.scss';

.nav {
  color: $white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  @media (max-width: '705px') {
    min-height: 42px;
  }
  .aboutLink {
    margin-left: 50px;
  }
  .list {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    li {
      cursor: pointer;
      padding: 0 10px;
      a:hover {
        color: $green;
        transition: 0.35s all ease;
      }
    }
    ul {
      display: flex;
      @media (max-width: '705px') {
        display: none;
      }
    }
    .logOut {
      display: flex;
      & div {
        padding-left: 20px;
        span {
          color: $green;
        }
      }
      .logoutBtn {
        padding: 0 20px;
        border: none;
        background-color: inherit;
        cursor: pointer;
        border-radius: 8px;
        margin-left: 10px;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        color: #fff;
        &:hover {
          background-color: $white;
          color: $green;
          transition: 0.35s all ease;
        }
      }
    }
  }
}
