@import '../../styles/colors.scss';

.alert {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;

  .content {
    position: relative;
    width: 700px;
    height: 500px;
    background-color: #e6eef1;
    margin: 10% auto;
    padding: 20px;
    padding-top: 100px;
    border-radius: 14px;
  }

  .img {
    width: 150px;
    margin: 0px auto;
  }
  .text {
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
  }
  .popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: $black;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      transition: 0.5s all ease;
      color: $danger;
      transform: rotate(90deg);
    }
  }
  .closeAlert {
    position: absolute;
    color: cadetblue;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: inherit;
    font-weight: 700;
  }
}
